[unix_http_server]
file={{ supervisor_log_dir }}/supervisord.sock

{% if supervisor_http_enabled | bool %}
[inet_http_server]
port=0.0.0.0:{{ supervisor_http_port }}
username={{ supervisor_http_username }}
password={{ supervisor_http_password }}
{% endif %}

[supervisord]
logfile={{ supervisor_log_dir }}/supervisord.log
logfile_maxbytes=50MB
logfile_backups=10
loglevel=info
pidfile={{ supervisor_log_dir }}/supervisord.pid
nodaemon=false

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl=unix://{{ supervisor_log_dir }}/supervisord.sock

[include]
files = {{ supervisor_include_dir }}/*.conf
