{
  "data-root": "{{ docker_data_root }}",
  "storage-driver": "{{ docker_storage_driver }}",
  "live-restore": {{ docker_live_restore | lower }},
  "max-concurrent-downloads": {{ docker_max_concurrent_downloads }},
  "max-concurrent-uploads": {{ docker_max_concurrent_uploads }},
  "log-driver": "{{ docker_log_driver }}",
  "log-opts": {
    "max-size": "{{ docker_log_max_size }}",
    "max-file": "{{ docker_log_max_file }}"
  },
  "registry-mirrors": {{ docker_registry_mirrors | to_nice_json }}
}
