[defaults]
inventory = inventory/hosts
roles_path = ./roles
remote_user = root
become = yes
become_method = sudo
host_key_checking = False
retry_files_enabled = False
stdout_callback = yaml
bin_ansible_callbacks = True
display_skipped_hosts = True
pipelining = True
forks = 10
interpreter_python = auto_silent

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
